@use 'base';
.top-menu{
    background-color: base.$bg-black ;
    height: 36px;
    text-align: right;
    line-height: 36px;
    vertical-align: middle;
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        float: right;
        li {
            display: inline-block;
            margin: 0px 20px 0px 0px;
            padding: 0px;
            
        }
        a{
            color: white;
        }
    }
}
.header-wrap {
    box-shadow: rgb(0 0 0 / 30%) 0px 2px 8px 0px;
    position: relative;
}
header div {
    height: 80px;
    line-height: 80px;
    nav{
    width: calc(100% - 130px);
    height: 80px;
    float: right;
    color: rgb(0, 0, 0);
    text-align: right;
    vertical-align: middle;
    position: relative;
    .nav-list  li{
        margin: 0px;
        padding: 0px;
        display: inline-block;
        a{
            margin: 0px 25px;
            color: rgb(136, 136, 136);
            font-size: 0.938em;
            font-weight: 700;
            text-decoration: none;
            vertical-align: middle;
        }
        .btn-link {
            font-size: 1.125em;
            font-weight: bold;
            vertical-align: middle;
            text-align: center;
            background-color: #ef513c;
            padding: 0 10px;
            color: #fff;
            border: 0;
            display: inline-block;
        }
    }
    
    }
}

.landing-wrap {
    height: 855px;
    background-image: url(/images/base/desktop/bg_landing.png);
    background-repeat: repeat-x;
    background-position: center center;
    div.content {
        padding-top: 140px;
        summary{
            width: 50%;
            text-align: justify;
            width: 631px;
            border: 4px solid rgb(255, 255, 255);
            background-color: rgb(247, 247, 248);
            margin: 15px 0px 40px;
            line-height: 220%;
            padding: 10px 25px 0px;
            font-size: 1.125em;
        }
       .location { 
        text-align: left;
           h2 {
            font: 700 36px Verdana;
            color: rgb(87, 87, 87);        
            }
            p{
                font-size: 1.5em;
            }

         }
    }
}
.program-wrap {
    background-image: url(/images/base/pattern_bg.png);
    background-repeat: repeat;
    background-color: rgb(39, 42, 50);
    height: 637px;
    div.content {
        text-align: center;
        padding-top: 79px;
        color: rgb(255, 255, 255);
        h1{
            font-size: 30px;
            font-weight: 400;
        }
        .program-card {
            margin: 0px 0px 0px 3px;
            padding: 8px;
            border: 0px;
            float: left;
            width: calc(18% - 3px);
            height: 228px;
            background: rgba(255, 255, 255, 0.1);
            h4{
                color: rgb(239, 81, 60);
                font-size: 1.5em;
                font-weight: 700;
            }
            p{
                text-align: center;
                word-break: keep-all;
                color: rgb(255, 255, 255);
                font-size: 0.813em;
                padding: 8px 17px;
                line-height: 1.5em;
            }
        }
    }
}
.speakers-wrap{
    height: auto;
    padding-bottom: 35px;
    div.content{
        text-align: center;
        padding-top: 79px;
        color: rgb(39, 42, 50);
        height: auto;
        .speakers-list{
            .speaker{
                margin: 0px 0px 0px 10px;
                border: 0px;
                width: calc(50% - 10px);
                float: left;
                height: 249px;
                img{
                    float: left;
                    width: 178px;
                    margin-right: 30px;
                }
                .desc{ 
                       text-align: left;
                    .speaker-name{
                        font-size: 22px;
                    }
                    .speaker-tag-name{
                        font-size: 14px;
                        margin-top: 5px;
                    }
                    .speaker-job{
                        font-size: 13px;
                        color: rgb(255, 79, 56);
                        text-align: left;
                    }
                    .speaker-desc{
                        word-break: keep-all;
                        text-align: left;
                        font-size: 0.875em;
                        padding-right: 1em;
                        line-height: 24px;
                        margin-top: 24px;
                    }
                }
                
            }
        }
        .more-link{
            color: rgb(51, 51, 51);
        }
    }
}
.angel-sponsors{
    color: rgb(51, 51, 51);
    text-align: center;
   div.content{
    text-align: center;
    padding: 79px 16px 45px;
    color: rgb(39, 42, 50);
    height: auto;

    a{
        display: block;
        margin: 32px;
    }
   }
}
.sponsors-wrap{
    text-align: center;
    .content {
        text-align: center;
        padding: 79px 16px 45px;
        color: #272a32;
        height: auto;
        .sponsor-logos{
            overflow: auto;
            height: auto;
            margin: 0px;
            padding: 0px;
            vertical-align: middle;
            text-align: center;
            width: 100%;
            position: relative;
            a{
                vertical-align: middle;
                display: inline-block;
                position: relative;
                margin-right: 50px;
                img{
                    width: 200px;
                }
            }
        }
    }
   
}
footer {
    font-size: 0.875em;
    color: rgb(255, 255, 255);
    background-color: rgb(46, 46, 46);
    padding: 32px;
    .content {
        img{
            margin-top: 21px;
            float: left;
            vertical-align: middle;
            text-align: center;
            margin-right: 28px;
        }
       
    }
}
@media screen and (max-width: 1000px){
    .header_wrap {
        display: none;
    }
}